:root {
    --background-color:#FFFFFC;
    /* #F8F9F9 */

    --titletext-color:#272727;
    --button-color: rgba(70, 177, 201, 0.678);
    --title-color: rgba(70, 177, 201, 0.678);

    --second-color: #FFFFFC;





    --board-color: var(--title-color);


   
}

.shadow {
    -webkit-box-shadow: 7px 11px 18px 5px rgba(0,0,0,0.14); 
    box-shadow: 7px 11px 18px 5px rgba(0,0,0,0.14);
}

* {
    margin: 0;
    padding: 0;
}

html, body {overflow:hidden;}

body {
    background-color: #262626;
    
}

/* title text */
h1 {
    font-family: 'Pacifico', cursive;
    color: var(--titletext-color);
    margin: 0px;
    padding: 0px;
    font-size: 55px;
    width: 2.5%;
}

#cl {
    display: flex;
    justify-content: center;
    padding-top: 22px;
    width: 325px;
    background-color: var(--second-color);
    border-top: 1px solid var(--title-color);
    border-bottom: 1px solid var(--title-color);
    border-radius: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 5em;
    font-family: 'Permanent Marker', cursive;
    padding-top: px;
    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 99.9vw;
    /* border: 1px solid red; */
    height: 99.9vh;             /*no height makes the div grow with content*/
}

.inner {
    width: 625px;                 /* inner div width*/
    height: 100%;
    box-sizing: border-box;
    /* border-left: 2px solid var(--line-color);
    border-right: 2px solid var(--line-color); */
    /* border: 1px solid red; */
}

/* title container */
.title {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--title-color);
    height: 15%;
    margin: 20px 0 0 0; 
    border-radius: 10px;
}
.spacer {
    height: 5%;
    box-sizing: border-box;
}
.currPlayer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 35px 0px 10px 0px;
    font-size: 62px;
    height: 7%;
    background-color: rgb(255, 255, 252);
    border-radius: 10px;
    box-sizing: border-box;
}
.thirds {
    /* border: 1px solid red; */
    height: 25%
}
.board-container {
    display: flex;
    flex-direction: column;



    height: 50%;
    border-radius: 5px;
    background-color: var(--board-color);

}

.board-container > p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toprow, .midrow, .botrow {
    height: 33%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.sq {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2.5px solid var(--titletext-color);
    

}



.sq:hover {
    background-color: rgba(70, 177, 201, 0.692);
}

.mr {
    border-bottom: 2.5px solid var(--titletext-color);
  }

  .tl, .tm, .tr {
      border-top: 0px;
  }

  .tl, .ml, .bl {
    border-left: 0px;
    border-right: 0px;
  }

  .bl, .bm, .br {
    border-bottom: 0px;
    border-top: 0px;
  }

  .tr, .mr, .br {
    border-right: 0px;
    border-left: 0px;
  }

  .mr, .ml, .mm {
      border-top: 0px;
  }

  .btnBox {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 5%
  }

  button {
      width: 40%;
      height: 40px;
  }
  
  button:focus {outline:0;}



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


 